<h1>{{actionType}} Evento</h1>
<form [formGroup]="form" (ngSubmit)="save()" #formDir="ngForm" novalidate>
    <div class="form-group row">
        <label class=" control-label col-md-12">Responsável</label>
        <div class="col-md-12">
            <input class="form-control" type="text" maxlength="30" formControlName="nomeResponsavel">
        </div>
        <span class="text-danger ml-3" *ngIf="nomeResponsavel.invalid && formDir.submitted">
            Responsável é obrigatório.
        </span>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12" for="Body">Sala</label>
        <div class="col-md-12">
            <select class="form-control" formControlName="nomeSala">
                <option>Selecione a sala...</option>
                <option *ngFor="let sala of salas">{{sala.nomeSala}}</option>
            </select>
        </div>
        <span class="text-danger ml-3" *ngIf="nomeSala.invalid && formDir.submitted">
            Nome da sala é obrigatório.
        </span>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label class="control-label col-md-12" for="Body">Data Início</label>
            <div>
                <input class="form-control" type="date" formControlName="dtInicio">
            </div>
            <span class="text-danger ml-3" *ngIf="dtInicio.invalid && formDir.submitted">
                Data Início é obrigatório.
            </span>
        </div>

        <div class="col-md-6">
            <label class="control-label col-md-12" for="Body">Data Fim</label>
            <div>
                <input class="form-control" type="date" formControlName="dtFinal">
            </div>
            <span class="text-danger ml-3" *ngIf="dtFinal.invalid && formDir.submitted">
                Data Fim é obrigatório.
            </span>
        </div>
    </div>
    <div class="form-group row">

    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success float-right">Salvar</button>
        <button class="btn btn-secondary float-left" (click)="cancel()">Cancelar</button>
    </div>
</form>